.button {
  transition: all 0.3s ease-in-out;
  transition-property: opacity, background-color, color;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(14, 26, 57, 0.2));
  filter: drop-shadow(3px 3px 2px rgba(14, 26, 57, 0.2));
}
.button:hover {
  filter: none;
  cursor: pointer;
  opacity: 0.9;
}

.button_mobile {
  width: clamp(288px, 90vw, 486px);
  height: clamp(56px, 7.3vw, 64px);
}
