.article__content_source {
  margin: clamp(12px, 100vw/22 - 25px, 40px) auto clamp(16px, 2.083vw, 24px)
    clamp(16px, 2.083vw, 24px);
  text-align: left;
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  /* simulator/gray/text */
  
  color: #b6bcbf;
}

@media screen and (max-width: 530px) {
  .article__content_source {
    margin: auto auto 16px 16px;
  }
}
