.saved-articles__subtitle {
  margin: clamp(32px, 4.167vw, 56px) auto clamp(32px, 4.167vw, 56px)
    clamp(40px, 100vw/10 - 40px, 104px);
  font-family: Roboto;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  color: #1a1b22;
}
@media screen and (max-width: 767px) {
  .saved-articles__subtitle {
    margin-left: clamp(16px, 5vw, 40px);
  }
}
