.button_type_submit {
  margin: clamp(-7px, 100vw/10 - 39px, 9px) auto 0;
  padding: 0;
  color: white;
  width: clamp(288px, 90vw, 360px);
  height: 64px;
  background: #2f71e5;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  border: 0;
  border-radius: 100px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
}
.button_type_submit:hover {
  opacity: 0.8;
}
/* clamp(16px, 2.5vw, 36px)  */
